<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

    <h2>Edit Employee</h2>
    <form method="post">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Email:</label>
        <input type="email" name="email"><br>
        <label>Phone:</label>
        <input type="text" name="phone"><br>
        <label>Department:</label>
        <input type="text" name="department"><br>
        <label>Designation:</label>
        <input type="text" name="designation"><br>
        <label>Salary:</label>
        <input type="number" name="salary"><br>
        <label>Date of Hire:</label>
        <input type="date" name="date_of_hire"><br>
        <label>Employment Type:</label>
        <select name="employment_type">
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Contract">Contract</option>
        </select><br>
        <label>Address:</label>
        <textarea name="address"></textarea><br>
        <label>Active Status:</label>
        <input type="checkbox" name="active_status"><br><br>
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'employee_list' %}">View All</a>
</body>
</html>